@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    margin: 0;
    width: 100%;
    height: fit-content;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.main-header {
    position: relative;
    width: 1066px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 0.5px solid #b2b2b2;
}

.main-header__nav {
    position: relative;
    width: 100%;
    max-width: 472px;
    height: 39px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header__button {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    padding-bottom: 14px;
    border: none;

    color: #444444;
}

.button_active {
    border: none;
    border-bottom: 5px solid #429f3a;
}

.main-header__button__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.block_active {
    position: relative;
    visibility: visible;
    pointer-events: all;
}

.block_hidden {
    position: absolute !important;
    visibility: hidden;
    pointer-events: none;
}

.description-block {
    position: relative;
    width: 1066px;
    height: fit-content;
    padding-top: 51px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 13px 0px;
}

.description-block__text {
    position: relative;
    width: 100%;
    height: fit-content;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 27px;

    color: #444444;
}

.specs-block {
    position: relative;
    width: 482px;
    height: fit-content;
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    gap: 11px;
}

.block__title {
    position: relative;
    width: fit-content;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 8px;

    color: #444444;
}

.block__container {
    position: relative;
    width: 100%;
    height: 20px;
    border-bottom: 0.5px solid rgba(178, 178, 178, 0.5);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block__container__text {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin: 0;

    color: #454343;
}

.nutritional-block {
    position: relative;
    width: 482px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 16px;
}

.storage-block {
    position: relative;
    width: 482px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 16px;
}

.cards-block {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px 0px;
    margin-top: 26px;
}

.cards-block__title {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    margin: 0;

    color: #444444;
}

.cards__container {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 22px;
    margin-bottom: 16px;
}

.cards__container__card {
    position: relative;
    width: 250px;
    height: 381px;

    box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
}

.card__image {
    position: relative;
    width: 250px;
    height: 234px;
    left: -1px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.card__favorite-image {
    position: relative;
    width: auto;
    height: auto;
    top: -224px;
    left: 213px;
}

.card__title {
    position: relative;
    width: fit-content;
    height: 18px;
    left: 11px;
    top: -14px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 0;

    color: #424141;
}

.card__seller {
    position: relative;
    width: fit-content;
    height: 18px;
    left: 12px;
    top: -7px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;

    color: #89817F;
}

.card__button {
    position: relative;
    border: none;
    background-color: transparent;
    right: -176px;
    top: 12px;
}

.card__price {
    position: relative;
    width: fit-content;
    height: 18px;
    left: 13px;
    top: -19px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    margin: 0;

    color: #3D3C3C;
}

.card__weight {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.card__rating-container {
    position: relative;
    width: 83px;
    height: 10px;
    top: -10px;
    left: 12px;
}

.card__rating-container__star {
    position: relative;
}

.reviews-block {
    position: relative;
    width: 1066px;
    height: fit-content;
    padding-top: 53px;
}

.reviews-block__content {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 33px;
}

.reviews-block__content__text {
    position: relative;
    width: fit-content;
    height: fit-content;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 !important;

    color: #444444;
    mix-blend-mode: normal;
}

.reviews-block__content__button {
    position: relative;
    width: 184px;    
    height: 40px;
    background-color: #429F3A;
    border: none;
    border-radius: 5px;
}

.reviews-block__content__button__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    color: #FFFFFF;
}

.where-block {
    position: relative;
    width: 1066px;
    height: fit-content;
    padding-top: 49px;
}

.where-block__content {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.where-block__content__text {
    position: relative;
    width: 511px;
    height: 339px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0;

    color: #444444;
}

.seller-info-block {
    position: relative;
    width: 376px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.seller-info-block__image {
    position: relative;
    width: auto;
    height: auto;
    left: -10px;

    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.08));
    border-radius: 5px;
}

.seller-info-block__button-block {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.seller-info-block__button-block__button {
    box-sizing: border-box;

    position: relative;
    width: 184px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border: 0.5px solid #444444;
    border-radius: 5px;
}

.seller-info-block__button-block__button__text {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;

    color: #444444;
}