@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    margin: 0;
    width: 100%;
    height: fit-content;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.main-header {
    position: relative;
    width: 1066px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 0.5px solid #b2b2b2;
}

.main-header__nav {
    position: relative;
    width: 100%;
    max-width: 472px;
    height: 39px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header__button {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    padding-bottom: 14px;
    border: none;

    color: #444444;
}

.button_active {
    border: none;
    border-bottom: 5px solid #429f3a;
}

.main-header__button__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.block_active {
    position: relative;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.block_hidden {
    position: absolute !important;
    visibility: hidden;
    pointer-events: none;
    top: -2000px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.description-block {
    position: relative;
    width: 1066px;
    height: fit-content;
    padding-top: 51px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 13px 0px;
}

.description-block__text {
    position: relative;
    width: 100%;
    height: fit-content;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 27px;

    color: #444444;
}

.description-block__text__bold {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.mobile-only-block {
    display: none;
}

.specs-block {
    position: relative;
    width: 482px;
    height: fit-content;
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    gap: 11px;
}

.block__title {
    position: relative;
    width: fit-content;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 8px;

    color: #444444;
}

.block__title__mobile {
    display: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 0;

    color: #444444;
}

.block__container {
    position: relative;
    width: 100%;
    height: 20px;
    border-bottom: 0.5px solid rgba(178, 178, 178, 0.5);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block__container__text {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin: 0;

    color: #454343;
}

.nutritional-block {
    position: relative;
    width: 482px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 16px;
}

.storage-block {
    position: relative;
    width: 482px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 16px;
}

.cards-block {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px 0px;
    margin-top: 26px;
}

.cards-block__title {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    margin: 0;

    color: #444444;
}

.cards__container {
    position: relative;
    width: 100%;
    height: 381px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 22px;
    margin-bottom: 16px;
}

.cards__container__card {
    position: relative;
    width: 250px;
    height: 381px;

    box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
}

.card__image {
    position: relative;
    width: 250px;
    height: 234px;
    left: -1px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.card__favorite-image {
    position: relative;
    width: auto;
    height: auto;
    top: -224px;
    left: 213px;
}

.card__title {
    position: relative;
    width: fit-content;
    height: 18px;
    left: 11px;
    top: -14px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 0;

    color: #424141;
}

.card__seller {
    position: relative;
    width: fit-content;
    height: 18px;
    left: 12px;
    top: -7px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;

    color: #89817F;
}

.card__button {
    position: relative;
    border: none;
    background-color: transparent;
    right: -176px;
    top: 12px;
}

.card__button__mobile-text {
    display: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 0;

    color: #429F3A;
}

.card__button__mobile-image {
    display: none;
}

.card__price {
    position: relative;
    width: fit-content;
    height: 18px;
    left: 13px;
    top: -19px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    margin: 0;

    color: #3D3C3C;
}

.card__weight {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.card__rating-container {
    position: relative;
    width: 83px;
    height: 10px;
    top: -10px;
    left: 12px;
}

.card__rating-container__star {
    position: relative;
}

.reviews-block {
    position: relative;
    width: 1066px;
    height: fit-content;
    padding-top: 53px;
}

.reviews-block__content {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 33px;
}

.reviews-block__content__text {
    position: relative;
    width: fit-content;
    height: fit-content;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 !important;

    color: #444444;
    mix-blend-mode: normal;
}

.reviews-block__content__button {
    position: relative;
    width: 184px;    
    height: 40px;
    background-color: #429F3A;
    border: none;
    border-radius: 5px;
}

.reviews-block__content__button__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    color: #FFFFFF;
}

.where-block {
    position: relative;
    width: 1066px;
    height: fit-content;
    padding-top: 49px;
}

.where-block__content {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.where-block__content__text {
    position: relative;
    width: 511px;
    height: 339px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0;

    color: #444444;
}

.where-block__text__bold {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.where-block__content__seller-name {
    position: absolute;
    visibility: hidden;
    pointer-events: none;

    width: 100%;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    text-align: left;

    color: #444444;
}

.seller-info-block {
    position: relative;
    width: 376px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 6px;
}

.seller-info-block__image {
    position: relative;
    width: 376px;
    height: 267px;
    object-fit: cover;
    object-position: top;

    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.08));
    border-radius: 5px;
}

.seller-info-block__button-block {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.seller-info-block__button-block__button {
    box-sizing: border-box;

    position: relative;
    width: 184px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border: 0.5px solid #444444;
    border-radius: 5px;
}

.seller-info-block__button-block__button__text {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;

    color: #444444;
}


@media only screen and (max-width: 1106px) { 
    .main-header {
        width: 95%;
        margin: 0px 20px 0px 20px;
    }

    .description-block {
        width: 95%;
    }

    .specs-block {
        width: 46.9%;
    }

    .nutritional-block {
        width: 46.9%;
    }

    .storage-block {
        width: 46.9%;
    }

    .cards-block {
        overflow: hidden;
    }

    .cards__container {
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none;
        overflow: -moz-scrollbars-none;
    }

    .card-container::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    .reviews-block {
        width: 95%;
    }

    .where-block {
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {  
    .description-block {
        flex-direction: column;
        align-items: center;
    }

    .specs-block {
        width: 335px;
    }

    .nutritional-block {
        width: 335px;
    }

    .storage-block {
        width: 335px;
    }

    .reviews-block__content__text {
        br {
            display: none;
            visibility: hidden;
        }
    }

    .where-block__content {
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    .where-block__content__text {
        width: 100%;
        height: fit-content;
    }

    .where-block__content__seller-name {
        position: relative;
        visibility: visible;
        pointer-events: all;
    }
}

@media only screen and (max-width: 425px) { 
    .main-header {
        width: 334px;
        height: fit-content;
    }

    .main-header__nav {
        height: 24px;
    }

    .main-header__button__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        margin: 0;

        color: #444444;
    }

    .main-header__button {
        width: fit-content;
        height: fit-content;
        padding-bottom: 0px;
    }

    .description-block {
        width: 335px;
        padding-top: 23px;
    }

    .description-block__text {
        text-align: justify;
        margin-bottom: 17px;
    }

    .description-block__text__bold {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    .block__title {
        display: none;
    }

    .block__title__mobile {
        display: inline;
    }

    .block__container__text {
        font-size: 14px;
    }

    .specs-block {
        gap: 12px;
        margin-bottom: 3px;
    }

    .nutritional-block {
        gap: 15px;
        margin-bottom: 3px;
    }

    .storage-block {
        margin-bottom: 12px;
    }

    .cards-block__title {
        font-size: 18px;
    }

    .cards__container {
        height: fit-content;
    }

    .cards__container__card {
        width: 288px;
        height: 190px;
    }

    .card__image {
        width: 100px;
        height: 94px;
        margin: 28px 186px 68px 2px;
        border-radius: 8px;
        top: 0;
        left: 0;
    }

    .card__favorite-image {
        display: none;
    }

    .card__title {
        position: absolute;
        left: 105px;
        top: 27px;
        width: 182px;
        font-size: 15px;
    }

    .card__seller {
        position: absolute;
        left: 105px;
        top: 52px;
        width: 120px;
        font-size: 11px;
    }

    .card__button {
        width: 160px;
        height: 46px;
        top: -71px;
        left: 108px;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 19px;

        background: #FFFFFF;
        border: 0.7px solid #DEDEDE;
        border-radius: 5px;
    }

    .card__button__image {
        display: none;
    }

    .card__button__mobile-text {
        display: inline;
    }

    .card__button__mobile-image {
        display: block;
    }

    .card__price {
        top: -149px;
        left: 179px;
        font-size: 18px;
    }

    .card__weight {
        font-size: 13px;
        color: #000;
    }

    .card__rating-container {
        display: none;
    }

    .block__text__pc-only {
        visibility: hidden;
        position: absolute;
        pointer-events: none;
        display: none;
    }

    .mobile-only-block {
       display: inline;
    } 
    
    .reviews-block {
        width: 334px;
        padding-top: 24px;
    }

    .reviews-block__content {
        gap: 32px;
        align-items: center;
    }

    .reviews-block__content__text {
        text-align: justify;
    }

    .where-block {
        width: 334px;
        padding-top: 21px;
    }

    .where-block__content__text {
        text-align: justify;
        line-height: 20px;
    }

    .where-block__text__bold {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    .seller-info-block {
        width: fit-content;
        margin: 0;
        gap: 34px;
    }

    .seller-info-block__image {
        width: 336px;
        height: 295px;
        object-position: center;
    }

    .seller-info-block__button-block__button {
        width: 163.94px;
        height: 35.64px;
    }

    .seller-info-block__button-block__button__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;

        color: #043E44;
    }
}
